.sidebar{
    position: fixed;
    left: 0;
    bottom:0;
    top:55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 10px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(240, 240, 240);
}

.sidebar-link{
    display: flex;
    align-items: center;
    height: 74px;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    
    
}

.sidebar-link:hover{
    background-color: rgb(235, 235, 235);
}

.sidebar-link img{
    height: 30px;
    margin-bottom: 4px;
}

.sidebar-link div{
    font-family: Robot,Arial;
    font-size: 10px;
    font-weight: 500;
    
    
}

