.info{
    
    display: flex;
    align-items: center;
    justify-content: center;
}


.p1,
.p2,
.p3,
.p4,
.p5,
.p6,
.p7,
.p8,
.p9,
.p10{
    font-family: 50px;
    padding:10px;
}